#filter-by {
    padding: 10px;
    margin-top: 3px;
    background: #e5e8ea;
    display: flex;
    line-height: 16pt;
    text-transform: capitalize;
    color: white;
    justify-content: space-between;
    background: #5d91b7;
    input {
        width: 92%;
        margin-right: -24px;
        border: 0;
        line-height: 25pt;
        font-size: 13pt;
        padding-left: 20px;
        border-radius: 8px;
    }

}
.nav#vessels-nav {
    flex-wrap: nowrap;
    width: 30%;
    display: flex;
    position: absolute;
    height: 99%;
    overflow: hidden;
}

.container.page{
    flex-wrap: nowrap;
    width: 69%;
    left: 31%;
    display: flex;
    position: absolute;
    height: 99%;
    overflow: hidden;
}
@media (max-width:1600px){

  }
  