#vesseles-list-container{
    height: 86%;
    min-height: 300px;
    font-family: 'Segoe UI';
    font-size: 20px;
    color: #000000;
    overflow-y: scroll;
    ul{
        list-style: none;
        
        li{
            display: flex;
            justify-content: baseline;
            padding: 10px;
            border: 1px solid pink;

            .vessel-container{
                width: 100%;

            }

        }
    }

    
}


@media (max-width:1600px){

    #vesseles-list-container {       
        height: 52%;
    }
  }
  